<div class="wrapper">
  <div class="img-wrap">
    <img src="assets/whatsapp.png" alt="whatsapp icon">
  </div>
  <div class="wrap-input">
    <form [formGroup]="numFromGroup" (submit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input type="text" matInput formControlName="mobile_number" (input)="handleInput($event)" [pattern]="unamePattern">
        <button mat-icon-button matSuffix type="submit">
          <mat-icon matSuffix>arrow_forward</mat-icon>
        </button>
        <mat-error *ngIf="hasError === 'required'">
          Mobile Number is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="hasError === 'pattern'">
          Validate Mobile Number
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>